body {
  background-color: #0d1c24;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}

em, i {
  font-family: 'Segoe UI', sans-serif;
  font-style: italic;
  color: white;
}

.header {
  background-color: #0f0f0f;
  padding: 10px 20px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.header .icon {
  height: 90%;
  width: auto;
  margin-right: 20px;
}

.header h1 {
  text-align: left;
  margin: 0;
  font-size: 52px;
  white-space: nowrap;
}

.message-box {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.success {
  background-color: #388e3c;
}

.error {
  background-color: #d32f2f;
}

input[type='file'] {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #2d3e50;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: auto;
  max-width: 500px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.form-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 10px;
}

.custom-file-upload {
  display: block;
  text-align: center;
  width:90%;

  margin-top: 20px;
  margin-bottom: 5px;
  padding: 12px 18px;

  background-color: #0d1c24;
  background: rgba(52, 116, 166, 0.1);
  border-color: #4a83d4;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;

  font-size: 16px;
  font-style: italic;
  transition: background .3s, color .3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.upload-btn {
  cursor: pointer;
  display: block;
  position: relative;

  color: white;
  background-color: #FF0000;
  border-color: #ff3333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /*margins*/
  padding: 12px 25px;
  margin-top: 0;
  margin-left: 10px
  margin-right: 10px;
  margin-bottom: 20px;
  width: auto;
  max-width: 200px;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.upload-btn:hover {
  background-color: #D2122E;
  color: white;
  text-shadow: none;
 }

@media (max-width: 768px) {
  .upload-box {
    width: 80%;
  }
}

.form-disabled {
  pointer-events: none;
}

.form-disabled label,
.form-disabled input,
.form-disabled button{
  pointer-events: auto;
  opacity: 0.7;
}

.download-link {
  display: block;
  text-align: center;
  text-decoration: underline;

  cursor: pointer;
  pointer-events: auto;

  color: #f0f0f0;
  transition: color .3s;
  background-color: transparent;

  width: auto;
  padding: 10px 20px;
  max-width: 200px;
  border-radius: 5px;
  margin-top: -10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px
}

.download-link:hover {
  color: #ffffff;
}


