<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload CSV</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <!-- Adding the test icon at the top of the page -->
    <header class="header">
        <img th:src="@{/images/test-icon.png}" alt="Test Icon" class="icon" />
        <h1>MOCK APP NAME</h1>
    </header>

    <div th:if="${message}" class="message-box success" th:text="${message}"></div>
    <div th:if="${error}" class="message-box error" th:text="${error}"></div>

    <form id="upload-form" class="form-disabled" th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <label for="file" class="custom-file-upload">Upload a CSV containing list of trade IDs for replay</label>
        <!-- Input is disabled at the start -->
        <input id="file" type="file" name="file" disabled />
        <a th:href="@{/files/ReplayTemplate.csv}" download="Sample_file_template.csv" style="display: block; text-align: left; margin-top: 10px; pointer-events: auto;">Sample file template</a>
        <!-- Initial button text is "Upload" and is enabled -->
        <button type="button" class="upload-btn">Upload</button>
    </form>

    <script src="/script.js"></script>
</body>
</html>
